# Configuration du Chatbot
CHATBOT_URL=${{ values.chatbotUrl }}

# Configuration de la Notification (optionnel - override les valeurs par défaut)
NOTIFICATION_TITLE=${{ values.notificationTitle }}
NOTIFICATION_MESSAGE=${{ values.notificationMessage }}
NOTIFICATION_TYPE=${{ values.notificationType }}

# Environnement
NODE_ENV=development